.image-over-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: fit-content;
    position: relative;
    top: -2rem;
    left: 2rem;
    z-index: 1;
}
.carasooul-image{
    height:17rem;
    width: 100%; 
}
.movie-overview{
    font-weight: bold;
    font-size: large;
    height: auto;
    width: 500px;
    margin: 1rem;
    font-style: italic;
}
.movie-title{
    font-weight: bold;
    font-size: xxx-large;
}
.movie-release-date{
    font-size: x-large;
    display: flex;
    gap: 2rem;
}
.movie-rating{
    margin-right:2rem;
}

@media (max-width: 560px){
.carasooul-image{
    width:90%;
    margin: auto;
}
.carasooul-image img{
    width: 100%;   
}
.movie-title{
    font-size: 2rem;
    margin-right:2rem ;
}
.movie-overview{
    position: relative;
    right: 0.5rem;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-right: 1.5rem;
}
.movie-release-date{
    display: flex;
    flex-direction: column;
}
}
@media (max-width: 400px){
    .movie-title{
        font-size: 1.3rem;
    }
    .movie-overview{
        font-weight: 100;
    }
}